<div class="container">
  <div class="row justify-content-center">
    <table class="table table-bordered table-bordered-radius border-warning table-dark">
      <thead >
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Title</th>
          <th>#</th>
          <th>Date</th>
          <th>Price</th>
          <th>DiscountPrice</th>
          <th>Description</th>
          <th>Katılımcı</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of data">
          <td>{{data.businessId}}</td>
          <td>{{data.businessName}}</td>
          <td>{{data.title}}</td>
          <td><img src="{{data.pictureUrl}}" width="50"></td>
          <td>{{data.sessionDate}}</td>
          <td>{{data.listPrice}}</td>
          <td>{{data.discountedPrice}}</td>
          <td>{{data.description}}</td>
          <td>{{data.attend}}</td>
          <td> <button (click)="onEdit(data)" data-toggle="tooltip" [class.active]="data===selectedData"
            class="btn btn-secondary active" type="button">Düzenle</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<card [course]="selectedData" ></card>

